/* Small devices (landscape phones, 576px and up) */
@media all and (max-width: 767px){
    .carrusel{
        height: 200px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) and (max-width: 991px){
    .carrusel{
        height: 350px;
    }
}

/* Large devices (desktops, 992px and up) */
@media all and (min-width: 992px) and (max-width: 1199px){
    .carrusel{
        height: 500px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px){
    .carrusel{
        height: 550px;
    }

    /* flexbox Alexia*/
    .dad{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .Alexia{
        position: relative;
        z-index: 2;
    }
    
    .imgBg{
        position: absolute;
        z-index: 1;
        top: 679px;
        width: 45%;
        height: 507px;
        border-radius: 7.5px 7.5px;
        opacity: 85%;
    }
}

.logoHeader{
    height: 80px;
}

.logoFooter{
    height: 100px;
}

.background1{
    background-color: #ffdf2b;
}

.background2{
    background-color: black;
}

/* FUENTES */
.FontTitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.Font{
    font-family: 'Cinzel', serif;
    font-size: 21px;
}