@media all and (max-width: 767px) {
  .carrusel {
    height: 200px;
  }

  /* flexbox Alexia*/
  .imgAlexia {
    width: 100px;
    height: 200px;
  }
  .dad {
    width: 220px;
  }

  .alexia {
    padding-top: 7px;
  }

  .alexiaBg {
    position: absolute;
    z-index: -1;
    top: 330px;
    width: 230px;
    height: 200px;
    border-radius: 7.5px 7.5px;
    opacity: 85%;
  }

  /* FUENTES */
  .fontTitle {
    font-family: "Bebas Neue", cursive;
    font-size: 15px;
  }

  .font {
    font-family: "Cinzel", serif;
    text-align: justify;
    font-size: 8px;
    padding-top: 1px;
    padding-left: 10px;
  }

  .fontUl {
    font-family: "Cinzel", serif;
    text-align: justify;
    font-size: 7px;
  }

  .background3 {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(52, 51, 51, 1) 50%,
      rgb(36, 21, 0) 100%
    );
    border-radius: 7.5px 7.5px;
    width: 350px;
  }

  .logoHeader {
    height: 80px;
  }

  .logoFooter {
    height: 100px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .carrusel {
    height: 350px;
  }

  /* flexbox Alexia*/
  .imgAlexia {
    width: 150px;
    height: 300px;
  }
  .dad {
    width: 420px;
  }

  .alexia {
    padding-top: 30px;
  }

  .alexiaBg {
    position: absolute;
    z-index: -1;
    top: 480px;
    width: 450px;
    height: 300px;
    border-radius: 7.5px 7.5px;
    opacity: 85%;
  }

  /* FUENTES */
  .fontTitle {
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
  }

  .font {
    font-family: "Cinzel", serif;
    text-align: justify;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 10px;
  }

  .fontUl {
    font-family: "Cinzel", serif;
    text-align: justify;
    font-size: 10px;
  }

  .background3 {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(52, 51, 51, 1) 50%,
      rgb(36, 21, 0) 100%
    );
    border-radius: 7.5px 7.5px;
    width: 650px;
  }

  .logoHeader {
    height: 80px;
  }

  .logoFooter {
    height: 100px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .carrusel {
    height: 500px;
  }

  /* flexbox Alexia*/
  .imgAlexia {
    width: 250px;
    height: 470px;
  }
  .dad {
    width: 620px;
  }

  .alexia {
    padding-top: 30px;
  }

  .alexiaBg {
    position: absolute;
    z-index: -1;
    top: 630px;
    width: 650px;
    height: 470px;
    border-radius: 7.5px 7.5px;
    opacity: 85%;
  }

  /* FUENTES */
  .fontTitle {
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
  }

  .font {
    font-family: "Cinzel", serif;
    text-align: justify;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
  }

  .fontUl {
    font-family: "Cinzel", serif;
    text-align: justify;
    font-size: 14px;
  }

  .background3 {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(52, 51, 51, 1) 50%,
      rgb(36, 21, 0) 100%
    );
    border-radius: 7.5px 7.5px;
    width: 945px;
  }

  .logoHeader {
    height: 80px;
  }

  .logoFooter {
    height: 100px;
  }
}

@media all and (min-width: 1200px) {
  .carrusel {
    height: 550px;
  }

  /* flexbox Alexia*/
  .imgAlexia {
    width: 350px;
    height: 570px;
  }
  .dad {
    width: 700px;
  }

  .alexia {
    padding-top: 30px;
  }

  .alexiaBg {
    position: absolute;
    z-index: -1;
    top: 679px;
    width: 750px;
    height: 570px;
    border-radius: 7.5px 7.5px;
    opacity: 85%;
  }

  /* FUENTES */
  .fontTitle {
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
  }

  .font {
    font-family: "Cinzel", serif;
    text-align: justify;
    font-size: 23px;
    padding-top: 20px;
    padding-left: 10px;
  }

  .fontUl {
    font-family: "Cinzel", serif;
    text-align: justify;
    font-size: 15px;
  }

  .background3 {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(52, 51, 51, 1) 50%,
      rgb(36, 21, 0) 100%
    );
    border-radius: 7.5px 7.5px;
    width: 1100px;
  }

  .logoHeader {
    height: 80px;
  }

  .logoFooter {
    height: 100px;
  }
}

.background1 {
  background-color: #ffdf2b;
}

.background2 {
  background-color: black;
}
